<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h1>Hi, {{ user.username }}!</h1>
        <p>We are working hard to build this website!</p>
    {% else %}
        <h1>Welcome to Jeremy's website, new user!</h1>
        <p>Please <a href="{% url 'login' %}">Sign In</a> or <a href="{% url 'register' %}">Register</a></p>
    {% endif %}
</body>
</html>

